<div class="d-flex justify-content-center">
  <div class="editForm d-flex justify-content-center col-8">
    <form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST" class="col-10">
      <div class="form-row mb-2">
        <small>*為必填</small>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="formName">餐廳名稱*</label>
          <input type="text" placeholder="輸入餐廳名稱" name="name" class="form-control" id="formName"
            value="{{ restaurant.name }}" required>
        </div>
        <div class="form-group col-sm-6">
          <label for="formNameEn">英文名</label>
          <input type="text" placeholder="輸入英文名稱" name="name_en" class="form-control" id="formNameEn"
            value="{{ restaurant.name_en }}">
        </div>
      </div>
      <div class=" form-group">
        <label for="formCategory">餐點類型*</label>
        <input type="text" placeholder="輸入類型，如日式料理、西餐..." name="category" class="form-control" id="formCategory"
          value="{{ restaurant.category }}" required>
      </div>
      <div class=" form-group">
        <label for="formImage">照片</label>
        <input type="url" placeholder="輸入有效照片連結，例：http://example.com/image.jpg" name="image" class="form-control" id="formImage"
          value="{{ restaurant.image }}">
      </div>
      <div class=" form-group">
        <label for="formLocation">地址</label>
        <input type="text" placeholder="輸入餐廳地址" name="location" class="form-control" id="formLocation"
          value="{{ restaurant.location }}">
      </div>
      <div class=" form-group">
        <label for="formPhone">電話</label>
        <input type="text" placeholder="輸入餐廳電話" name="phone" class="form-control" id="formPhone"
          value="{{ restaurant.phone }}">
      </div>
      <div class=" form-group">
        <label for="formGoogleMap">Google Map</label>
        <input type="url" placeholder="輸入餐廳 Google Map 分享網址，例：https://goo.gl/maps/exmaple" name="google_map" class="form-control" id="formGoogleMap"
          value="{{ restaurant.google_map }}">
      </div>
      <div class=" form-group">
        <label for="formRating">評分*</label>
        <input type="number" placeholder="輸入餐廳評分" name="rating" class="form-control" id="formRating" step="0.1"
          value="{{ restaurant.rating }}" required>
      </div>
      <div class=" form-group">
        <label for="formDescription">簡介</label>
        <input type="text" placeholder="輸入餐廳簡介" name="description" class="form-control" id="formDescription"
          value="{{ restaurant.description }}">
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-secondary function-btn mr-3">儲存</button>
        <a href="/restaurants/{{ restaurant._id }}" class="function-btn"><button type="button"
            class="btn btn-secondary function-btn">返回</button></a>
      </div>
    </form>
  </div>
</div>